.checkbox-column {
  display: flex;
  flex-direction: column;
  margin-right: 57px;
  cursor: pointer;
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 84px;
  margin-top: 95px;
}

.checkbox-outside {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid #898c8e;
  user-select: none;
}
.checkbox-inside {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 50%;
  background-color: #898c8e;
  user-select: none;
}
.checkbox-description {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  color: #898c8e;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  user-select: none;
}
